parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - tests/_reports
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - # Allow skipping tests to not fail PHPStan.
          identifier: deadCode.unreachable
          path: tests
